/* start footer style section */
.footer-section-wrapper .footer-section-bg {
  background-color: #041121;
  min-height: 200px;
}
.footer-section-wrapper .copy-right {
  color: #888787;
  border-top: 1px solid #272731;
  font-size: 13px;
  padding: 8px;
}
.footer-section-wrapper .desc {
  padding: 14px;
}
.footer-section-wrapper .desc a {
  color: #dfd1d1;
  font-size: 15px;
}
.footer-section-wrapper .desc i {
  font-size: 26px;
  color: #ffa000;
  transform: rotate(25deg);
  padding-left: 12px;
}
.footer-section-wrapper .desc p {
  font-size: 14px;
  margin-top: 12px;
  color: #888787;
}
.footer-section-wrapper .service,
.social,
.contact-us {
  padding: 25px 14px;
}
.footer-section-wrapper .service h6,
.social h6,
.contact-us h6 {
  color: #c8c2c2;
  font-size: 13px;
  border-bottom: 1px solid #1f2e3b;
  padding-bottom: 14px;
}
.footer-section-wrapper .service ul a li {
  display: block;
  color: #888787;
  font-size: 13px;
  margin-top: 10px;
  transition: 0.5s ease;
}
.footer-section-wrapper .service ul li i {
  padding-left: 10px;
  vertical-align: -1px;
}
.footer-section-wrapper .service ul li:hover {
  color: #ffa000;
  margin-right: 15px;
}
.social ul {
  text-align: center;
  padding: 7px;
}
.social .desc-contact {
  direction: ltr;
}
.social .desc-contact a i {
  color: #888787;
  font-size: 22px;
  padding: 5px 10px;
  transition: .4s ease;
}
.social .desc-contact a i:hover {
  color: #fff;
}
.footer-section-wrapper form {
  margin-top: 40px;
}
.footer-section-wrapper form input[type="text"] {
  width: 100%;
  height: 36px;
  padding: 8px;
  font-size: 12px;
  outline: none;
}
.footer-section-wrapper form input[type="submit"] {
  border: none;
  background-color: #ffa000;
  color: #fff;
  height: 35px;
  top: 0px;
  left: 1px;
  padding: 0 12px;
  font-size: 11px;
  cursor: pointer;
}
.footer-section-wrapper .contact-us i,.contact-us span{
  color: #888787;
  margin-top: 12px;
  transition: .4s ease;
}
.footer-section-wrapper .contact-us i {
  color: #afa6a6;
  font-size: 15px;
}
.footer-section-wrapper .contact-us span {
  font-size: 13px;
  vertical-align: 2px;
  margin: 10px 10px 0 0;
}
.footer-section-wrapper .contact-us i,
.contact-us span:hover {
  color: #b1aaaa;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .footer-section-wrapper {
    margin-top: 250px;
  }
}
